{% block page_content_sections_inner %}

	{% set salesChannels = page.salesChannels %}

	<div class="inventory-update-page" data-inventory-update="true">
		<div id="inventoryUpdateWrapper" class="inventory-update-wrap">
			<div class="form-group-wrap form-search-wrap" id="formSearchContainer">
				{% sw_include '@Storefront/storefront/page/inventory-update/ean-search-form.html.twig' %}
			</div>
			<div class="form-group-wrap form-result-wrap" id="formResultContainer"></div>
		</div>
	</div>
{% endblock %}
