{% block page_content_sections_not_found_result_inner %}
	<div class="form-row-group product-not-found">
		<div class="form-row">
			<div class="form-group col-md-12">
				<span>{% sw_icon 'info' %}</span>
				<h2>{{ content }}</h2>
			</div>
		</div>
	</div>
{% endblock %}
