.is-ctl-inventoryupdate {
    .btn-wrap {
        margin-top: rem(30);

        &.center {
            text-align: center;
        }

        .btn {
            &.btn-lg {}

            &.btn-primary {
                border-color: $primary-color;
            }
        }
    }
}
