.is-ctl-inventoryupdate {
    .title {

        h1 {
            position: relative;
            z-index: 3;
            color: rgba(255, 255, 255, 0.25);
            white-space: nowrap;
            font-size: rem(140);
            font-family: Arial;
            font-weight: bold;
            margin: 0;

            @include desktop-md {
                font-size: rem(110);
            }

            @include tablet-lg {
                font-size: rem(80);
            }

            @include mobile-lg {
                font-size: rem(40);
                color: $white-color;
            }

            @include mobile-md {
                font-size: rem(30);
            }
        }

        h1,
        h2,
        h3 {
            line-height: 1.25 !important;
        }

        &.center {
            text-align: center;
        }

        span {
            color: $primary-color;
        }
    }
}
