.inventory-update-wrap {
    display: flex;
    align-items: center;
    margin: rem(50) auto 0 auto;

    .form-group-wrap {
        flex: 0 0 100%;
        transition: 0.3s all;
        color: $secondary-color;
        background-color: $white-color;
        box-shadow: 0 -0.625rem 1.25rem rgb(6 22 51 / 15%);
        border-radius: rem(15);
        width: rem(800);
        padding: rem(80);

        position: absolute;
        top: rem(280);
        left: 50%;
        margin-left: rem(-400);

        @include desktop-md {
            top: rem(240);
        }

        @include tablet-lg {
            top: rem(200);
        }

        @include tablet-sm {
            padding: rem(50) rem(40);
            margin-left: rem(30);
            margin-right: rem(30);
            left: 0;
            right: 0;
            width: auto;
        }

        @include mobile-lg {
            top: rem(140);
            padding: rem(40) rem(30);
            margin-left: rem(20);
            margin-right: rem(20);
        }

        @include mobile-md {
            top: rem(100);
            padding: rem(30) rem(20);
        }
    }

    .form-search-wrap {
        opacity: 1;
        visibility: visible;
        transform: translateX(0px) scale(1);

        .title {
            h2 {
                @include mobile-md {
                    font-size: rem(18);
                }
            }
        }
    }

    .form-result-wrap {
        opacity: 0;
        visibility: hidden;
        transform: translateX(75%) scale(0.5);

        @include mobile-lg {
            transform: none;
        }
    }

    .form-back-button {
        .btn-link {
            text-decoration: none;
        }
    }

    &.product-form {

        .form-search-wrap {
            opacity: 0;
            visibility: hidden;
            transform: translateX(-75%) scale(0.5);

            @include mobile-lg {
                transform: none;
            }
        }

        .form-result-wrap {
            opacity: 1;
            visibility: visible;
            transform: translateX(0px) scale(1);
        }
    }

    &.processing {
        .loader {
            opacity: 1;
            visibility: visible;
        }

        .btn-block {
            opacity: 0.5;
            cursor: not-allowed;
            pointer-events: none;
        }
    }
}

.update-form-row {
    display: flex;
    grid-gap: rem(20);
    margin-top: rem(30);

    @include mobile-md {
        margin-top: rem(20);
        grid-gap: rem(12);
    }

    .input-group {
        &>.form-control {
            max-width: rem(160);
            border-top-left-radius: rem(20);
            border-bottom-left-radius: rem(20);

            @include mobile-md {
                max-width: rem(120);
            }
        }

        .input-group-append {
            width: calc(100% - 160px);

            @include mobile-md {
                width: calc(100% - 120px);
            }

            .btn {
                border-top-right-radius: rem(20);
                border-bottom-right-radius: rem(20);
            }
        }
    }
}

.update-form-container {
    position: relative;

    .loader {
        top: rem(12);
        right: 0;
        position: absolute;
        visibility: hidden;
        opacity: 0;
    }
}
